/* Navbar. */

.gen nav li {
  list-style-type: none;
  margin: 0 2vw;
  text-size: 20px;
  text-weight: normal;
  font-size: 3vh;
  display: block;
}

.gen nav a {
  text-decoration: none;
  color: black;
}

.gen nav a:hover {
  background-color: #6d87fc;
}

.gen nav {
  width: 100vw;
  background-color: #0074cc;
  position: fixed;
  top: 0px;
}


.gen nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

body .gen {
  margin: 0;
  padding-top: 49px;
}

.gen nav button {
  display: none;
}

@media only screen and (max-width: 500px) {
  .gen nav ul {
    flex-direction: column;
  }

  .gen nav li {
    margin: 0;
    display: none;
  }

  .gen nav a {
    display: block;
  }

  .gen nav button {
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #0074cc;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00cbcc;
}

::-webkit-scrollbar-thumb {
  background: #008687;
  border-radius: 10px;
  transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  background: #04b83d;
}

/* General */


html body .gen {
  font-family: 'Recursive', sans-serif;
  color: #000000;
  background-color: #00cbcc;
  text-align: center;
}

body .gen {
  font-size: 25px;
  font-weight: normal;
}

.gen .text p {
  padding-bottom: 30px;
}

.gen footer {
  font-size: 13px;
  font-weight: 300;
}

.gen h1 {
  font-size: 49px;
}

.gen footer a {
  color: blue;
}
