.gen nav li {
  list-style-type: none;
  margin: 0 2vw;
  text-size: 20px;
  text-weight: normal;
  font-size: 3vh;
  display: block;
}

.gen nav a {
  text-decoration: none;
  color: black;
}

.gen nav a:hover {
  background-color: #6d87fc;
}

.gen nav {
  width: 100vw;
  background-color: #0074cc;
  position: fixed;
  top: 0px;
}


.gen nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

body .gen {
  margin: 0;
  padding-top: 49px;
}

.gen nav button {
  display: none;
}

@media only screen and (max-width: 500px) {
  .gen nav ul {
    flex-direction: column;
  }

  .gen nav li {
    margin: 0;
    display: none;
  }

  .gen nav a {
    display: block;
  }

  .gen nav button {
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #0074cc;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
  }
}
