html body .gen {
  font-family: 'Recursive', sans-serif;
  color: #000000;
  background-color: #00cbcc;
  text-align: center;
}

body .gen {
  font-size: 25px;
  font-weight: normal;
}

.gen .text p {
  padding-bottom: 30px;
}

.gen footer {
  font-size: 13px;
  font-weight: 300;
}

.gen h1 {
  font-size: 49px;
}

.gen footer a {
  color: blue;
}
