html {
  font-family: 'Recursive', sans-serif !important;
  color: #000000 !important;
  background-color: #00cbcc !important;
  text-align: center !important;
}

body {
  font-size: 49px !important;
  font-weight: normal !important;
}

footer {
  font-size: 13px !important;
  font-weight: 300 !important;
}

h1 {
  font-size: 49px !important;
}
