@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 300, 400, 600, 800;
  font-display: swap;
  src: url(/Recursive.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  cursor: url(assets/1121.cur), default;
}

html, body {
  margin: 0;
  padding: 0;
  background: url("assets/background.png");
}

html body .gen {
  font-family: 'Recursive', sans-serif;
  color: #000000;
  background-color: #00cbcc;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
}

html body {
  height: 100vh;
  width: 100vw;
}

.gen {
  height: 100%;
  width: 100%;
}

.gen .text p {
  padding-bottom: 30px;
}

.gen footer {
  font-size: 13px;
  font-weight: 300;
}

.gen h1 {
  font-size: 49px;
}

.gen footer a {
  color: blue;
}
