nav li {
  list-style-type: none;
  margin: 0 2vw;
  text-size: 20px;
  text-weight: normal;
  font-size: 3vh;
  display: block;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
   background-color: #C6E9FF;
}

nav {
  width: 100vw;
  background-color: #D6EFFF;
  position: fixed;
  top: 0px;
}


nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

body {
  margin: 0;
  padding-top: 32px;
}

nav button {
  display: none;
}

@media only screen and (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
  
  nav li {
    margin: 0;
    display: none;
  }
  
  nav a {
    display: block;
  }
  
  nav button {
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
  }
}
