li {
  list-style-type: none;
  margin: 0 2vw;
  text-size: 20px;
  text-weight: normal;
  font-size: 3vh;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
   background-color: #C6E9FF;
}

nav {
  width: 100vw;
  background-color: #D6EFFF;
  position: fixed;
  top: 0px;
}


ul {
  margin: 0;
  padding: 0;
  display: flex;
}

body {
  margin: 0;
}
