li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100vw;
  background-color: #D6EFFF;
  text-size: 20px;
}


ul{
  margin: 0;
  padding: 0;
  display: flex;
}

body{
  margin: 0;
}

