html {
  font-family: 'Recursive', sans-serif;
  color: #000000;
  background-color: #00cbcc;
  text-align: center;
}

body {
  font-size: 49px;
  font-weight: normal;
  
  topnav {
    background-color: #333333;
    overflow: hidden;
    font-size: 20px;
  }

  topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  topnav a:hover {
    background-color: #dddddd;
    color: "black";
  }

  topnav a.active {
    background-color: #4CAF50;
    color: "white";
  }
}

footer {
  font-size: 13px;
  font-weight: 300;
}
